div.container {
    background-color: #FFF;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 6px #00000033;
    margin-bottom: 20px;
}